*/.obsidian
docs/.obsidian
packer-boxes/rhel9/rhel-baseos-9.0-x86_64-dvd.iso
*/packer_cache/*
*/output-virtualbox-iso/*
*.box
*.vdi
*.vmdk
*.ovf
iso/*
.vagrant/*

docs/.obsidian/workspace.json
innovation-day/downloads/repo/YumRepo
innovation-day/downloads/*.qcow2
innovation-day/terraform/.terraform.lock.hcl
innovation-day/terraform/terraform.tfstate
innovation-day/terraform/terraform.tfstate.backup
innovation-day/terraform/**/.terraform/*
innovation-day/terraform/lab/.terraform.lock.hcl
innovation-day/terraform/.terraform.lock.hcl
innovation-day/terraform/lab/terraform.tfstate
innovation-day/terraform/lab/terraform.tfstate.backup
docs/.obsidian/workspace.json
packer-boxes/rhel9-base/.vagrant
packer-boxes/rhel9-base/builds
packer-boxes/rhel9-base/rhel-baseos-9.0-x86_64-dvd.iso
downloads/repo/rhel/*
packer-boxes/rhel9-repo/output-vagrant

docs/.obsidian/workspace.json
docs/.obsidian/workspace.json
packer-boxes/.vagrant
